.app-wrapper {
    margin: 0 auto;
    display: grid;
    min-height: 100vh;
    grid-template-areas: 'header header' 'sidebar content' 'footer footer';

    grid-template-rows: 60px 1fr auto;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1px;
    
    
}

.app-wrapper-content {
    grid-area: content;
    padding: 10px;
    background-color: rgb(211, 203, 203);
}
